footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-flow: column;
    height: auto;
    background: #cc1e4c;
    text-align: center;
    padding: 3px;
    color: white;
}