/*nav{*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    padding-top: 0px;*/
/*    padding: 20px;*/
/*    background: #cc1e4c;*/
/*}*/

/*a{*/
/*    color: white;*/
/*}*/

/*a, a:hover, a:visited, a:active {*/
/*    text-decoration: none;*/

/*}*/

